/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body{
  color: #EDEDED; /* default text color to #222 */
  font-size: 1em;
  line-height: 1.4;
  background-color: rgb(15 23 42);
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
.container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  position:relative;
}

.left-pane, .right-pane {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left-pane {
  background-color: rgb(15 23 42);
}

.right-pane {
  flex: 1.1;
  padding: 20px;
  background-color: rgb(15 23 42);
  border-left: 1px solid #ddd; /* Border between the panes */
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 800px;
    flex-direction: column; /* Stack in a single column on small screens */
  }

  .left-pane, .right-pane {
    border-left: none; /* Remove the border on small screens */
  }
}

h1,h2{
  margin-bottom: 0;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Optional: Add a border for better visualization */
}

.positioned-link {
  display: block;
  margin-top: 10px; /* Adjust the margin to create space between the text and the link */
  text-decoration: none;
  color: #b3d4fc; /* Set the color of the link */
}

.navigation{
  background-color: rgb(15 23 42);
  padding: 10px;
}

.navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 10px;
}

.navigation a {
  text-decoration: none;
  color: #B5B5B5;
  font-size: 16px;
  transition: font-size 0.3s ease; /* Smooth transition for font size */
  display: block;
  padding: 5px;
  width: 150px; /* Adjust the width */
  text-align: left;
}

.navigation a:hover,
:target .content-section a {
  font-size: 20px; /* Adjust the font size on hover or when section is targeted */
  color: #EDEDED;
}

.content-section {
  padding: 50px;
}

.content-section h2 {
  margin-bottom: 20px;
}

.elink{
  color: #EDEDED;
}

.iconlink{
  width: 75px;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


